In [1]:
import pandas as pd
import sqlite3

import warnings
warnings.simplefilter(action='ignore', category = FutureWarning)
warnings.simplefilter(action='ignore', category = UserWarning)

In [2]:
con = sqlite3.connect('data/weather_2012.sqlite')

In [6]:
df = pd.read_sql('SELECT * from weather_2012 LIMIT 3', con, index_col=['id','date_time'])
df

                        temp
id date_time
1  2012-01-01 00:00:00  -1.8
2  2012-01-01 01:00:00  -1.8
3  2012-01-01 02:00:00  -1.8

In [7]:
weather_df = pd.read_csv('data/weather-2012.csv')
con = sqlite3.connect('data/test_db.sqlite')
con.execute('DROP TABLE IF EXISTS weather_2012')
weather_df.to_sql('weather_2012', con)

In [9]:
con = sqlite3.connect('data/test_db.sqlite')
df = pd.read_sql('SELECT * from weather_2012 ORDER BY Weather LIMIT 3', con)
df

,index,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,67,2012-01-03 19:00:00,-16.9,-24.8,50,24,25.0,101.74,Clear
1,114,2012-01-05 18:00:00,-7.1,-14.4,56,11,25.0,100.71,Clear
2,115,2012-01-05 19:00:00,-9.2,-15.4,61,7,25.0,100.80,Clear